Source: libwx-perl
Maintainer: Mattia Barbon <mattia.barbon@libero.it>
Priority: extra
Section: interpreters
Standards-Version: 3.5.2
Build-Depends: perl (>= 5.8.0-1), debhelper (>= 3.0.5),
  libwxgtk2.4-dev

Package: libwx-perl-wxgtk2.4
Priority: extra
Section: interpreters
Architecture: any
Depends: ${perl:Depends}, ${shlibs:Depends}
Description: Perl wrapper for the wxWidgets GUI toolkit
 wxPerl is a Perl module wrapping the awesome wxWidgets
 library for cross-platform GUI developement.
 .
 This package is compiled against the stable 2.4 branch
 of wxWidgets.
